@CHARSET "ISO-8859-1";

.form1 {
	position:absolute;
	left:50px;
	top:50px;
	width:250px;
	heigth:100%;
	border:1px solid #036;
}
.form2 {
	position:absolute;
	left:550px;
	heigth:100%;
	width:350px;
	top:50px;
	border:1px solid #036;
}
.form3 {
	position:absolute;
	width:250px;
	heigth:500px;
	right:50px;
	top:50px;
	border:1px solid #036;
}

.form4 {
	position:absolute;
	left:50px;
	top:150px;
	width:250px;
	heigth:100%;
	border:1px solid #036;
}

.form5 {
	position:absolute;
	left:50px;
	top:300px;
	width:250px;
	heigth:100%;
	border:1px solid #036;
}

.botoes {
	position:absolute;
	right:570px;
	top:500px;
	border:1px solid #036;
}

.botoes2 {
	position:absolute;
	right:570px;
	top:300px;
	border:1px solid #036;
}

.formulario{
	position:absolute;
	width:100%;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#036;
	background-color:#d8fff0;
}

.news {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;
	background-color:#0d90d7;
	border:1px solid #036;
}

.botao {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pxbold;
	background-color:#0d90d7;
	margin:20p;
	color:#fff;
	font-weight:x 0 5px 5px;
}
	
	
.rotulo {
	width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
}

.texto{
	background-color:#ffc;
}

.texto, .rotulo{
	float:left;
}

/* Fundo do menu */
.menu{
  background: #0d90d7;
}
/* Remove as bolinhas do lado das listas */
.menu .menu-list, .menu .sub-menu{
  list-style: none;
}
/* Configura todos os links do nosso menu */
.menu a{
  color: #ffc;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing:0.2em;
}
/* Faz os <li>s ficarem na horizontal */
.menu > .menu-list > li{
  float: left;
  position: relative;
}
/* Configura os links do menu principal */
.menu > .menu-list > li > a {
  padding: 20px;
  margin: 0 5px;
  background: grey;
}
/* Configura o fundo do menu principal quando com mouse hover */
.menu > .menu-list > li:hover a {
  background: grey;
}
/* Mostra o submenu no evento de mouse hover */
.menu > .menu-list > li:hover > .sub-menu {
  display: block;
}
/* Configura o estilo do submenu */
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  top: 50px;
  left: 5px;
  background: #E0E0E0;
  min-width: 200px;
  z-index: 1000;
  display: none;
}
/* Configura os links do submenu */
.menu > .menu-list > li > .sub-menu > li > a {
	padding: 10px 20px;
}
/* Clearfix para o menu */
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

tfoot {
    font-weight:bold;
}